@import "/src/styles/styles";

.footer-container{
  background-color: $black;
  margin-top: 100px;
  color: $white;
  height: 100px;
  filter: $filter-shadow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .footer{
    display: flex;
    align-items: center;
    .divider{
      height: 25px;
      background-color: $white;
      margin: 0 30px;
      width: 1px;
    }
    .management{
      a{
        color: $white;
      }
    }
    .socials{
      .icon{
        cursor: pointer;
        font-size: 25px;
        padding: 0 10px;
      }
    }
  }
}
