@import "/src/styles/styles";

.footer-container{
  background-color: $black;
  margin-top: 100px;
  color: $white;
  padding: 30px;
  filter: $filter-shadow;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .footer{
    display: flex;
    align-items: center;
    .divider{
      height: 25px;
      background-color: $white;
      margin: 0 30px;
      width: 1px;
    }
    .management{
      a{
        color: $white;
      }
    }
    .socials{
      .icon{
        cursor: pointer;
        font-size: 25px;
        padding: 0 10px;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
  .footer-container{
    .footer{
      flex-direction: column;
      .divider{
        display: none;
      }
      div{
        text-align: center;
        order: 1;
        padding: 5px 0;
      }
      .socials{
        order: 0;
      }
    }
  }
}
