<div
  *ngIf="bandMember"
  class="band-member"
  (mouseenter)="hoveredOver()"
  (mouseleave)="hoverOut()"
  #memberDiv
  (mouseover)="changeText=true" (mouseout)="changeText=false"
>
  <div class="images">
    <img [ngStyle]="{'display' : 'flex'}" [src]="bandMember.imgPath + 'main.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='up') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'up.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='upright') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'upright.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='right') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'right.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='bottomright') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'bottomright.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='bottom') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'bottom.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='bottomleft') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'bottomleft.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='left') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'left.png'"/>
    <img [ngStyle]="{'display': (currentImage ==='upleft') ? 'flex' : 'none'}" [src]="bandMember.imgPath + 'upleft.png'"/>
  </div>
  <div class="info">
    <div>
      <h1 class="inner-shadow-text" [title]="bandMember.name">{{bandMember.name }}</h1>
    </div>
    <div>
      {{bandMember.bio}}
    </div>
    <div class="instrument inner-shadow-text">
      <h1 class="inner-shadow-text" [title]="bandMember.instrument">{{bandMember.instrument}}</h1>
    </div>
  </div>
  <div [ngStyle]="{'display': (bandMember && isHeadbanging) ? 'flex': 'none'}">
    <img alt='Headbang time' src="{{bandMember.imgPath + 'headbang.gif'}}" class="video" />
  </div>
  <div class="shadow" [ngStyle]="{'z-index': (isHeadbanging) ? '8' : '4'}"></div>
</div>


<div >
  <span *ngIf="!changeText">Hide</span>
  <span >Show</span>
</div>

