<div class="show" *ngIf="show">
  <div class="details">
    <span class="venue">
      <b>{{ show.name.title[0].plain_text }}</b>
    </span>
    <span class="place-country">
      <i>{{ show.venue.select.name }}</i
      ><br />
      {{ show.city.select.name }}, {{ show.country.select.name }}
    </span>
    <span
      class="date"
      *ngIf="show.isToday; else notToday"
      class="show-is-today-text"
    >
      <b>TODAY!</b>
    </span>
    <ng-template #notToday>
      {{ show.date.date.start | date }}
    </ng-template>
  </div>
  <div *ngIf="!isPastShow">
    <button
        type="button"
        *ngIf="hasShowLink"
        (click)="goToUrl(getImageUrl())"
        class="ticket-button"
    >
        {{ this.show.free.checkbox ? "FREE" : "Tickets" }}
    </button>
  </div>
</div>
