<div class="swiper-containert">
  <swiper
    [config]="config"
    (slideChange)="onSlideChange($event)"
    *ngIf="bandMembers" [navigation]="true"
    [pagination]="{ clickable: true }"
  >
      <ng-template swiperSlide *ngFor="let bandMember; let index = index; of bandMembers" let-data>
        <div class="swiper-slide"  [ngStyle]="{'background-image': 'url(' + bandMember.imgPath + 'main.png' + ')'}">
          <div class="content" [style.opacity]="sliderIndex === index ? '1' : '0'">
              <h1 class="inner-shadow-text">{{bandMember.name}}</h1>
              <div class="bio">{{bandMember.bio}}</div>
              <h1 class="inner-shadow-text">{{bandMember.instrument}}</h1>
          </div>
        </div>
      </ng-template>
  </swiper>
</div>

