@import "/src/styles/styles";

.swiper-containert{
  width: 100%;
  justify-content: center;
  display: flex;
  swiper {
    height: 70vh;
    width: 100%;
    padding: 30px 0; filter: $filter-shadow;
    text-align: center;
    .swiper-slide {
      background-position: top;
      background-size: cover;
      position: absolute;
      border-radius: $borderRadius;
      img {
        position: absolute;
        width: auto;
        height: auto;
        border-radius: $borderRadius;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
      }
      .content{
        transition: all 0.5s;
        border-radius: 0 0  $borderRadius $borderRadius;
        color: white;
        z-index: 5;
        position: absolute;
        bottom: 0;
        background-color: rgba(33, 36, 41, .85);
        .bio{
          padding: 0 5px;
        }
      }
    }
    .swiper-bullet{
      width: 20px;
      height: 20px;
    }
  }
}
.images {
  width: 100%;
  height: 100%;
  z-index: 4;
  border-radius: $borderRadius;
  position: absolute;
  img {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: $borderRadius;
    position: absolute;
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .swiper-containert {
    swiper {
      height: 500px;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .swiper-containert {
    swiper {
      height: 500px;
    }
  }
}
