<div class="swiper-containert">
<swiper [config]="config" *ngIf="bandMembers">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let bandMember of bandMembers"  [ngStyle]="{'background-image': 'url(' + bandMember.imgPath + 'main.png' + ')'}">
      <div class="content">
          <h1 class="inner-shadow-text">{{bandMember.name}}</h1>
          <div class="bio">{{bandMember.bio}}</div>
          <h1 class="inner-shadow-text">{{bandMember.instrument}}</h1>
      </div>
    </div>
  </div>

  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <!-- Add Pagination -->

</swiper>
</div>
<div class="swiper-pagination"></div>
