/* You can add global styles to this file, and also import other style files */

$wrapperWidth: 1200px;
$borderRadius: 30px;

//Colors
$white: #DCDCDC;
$black: #232323;
$black-lighter: #2E2E2E;
$green: #00F000;
$orange: #FF7000;
:host{
  --swiper-theme-color: #FF7000;
  --swiper-navigation-color: #FF7000;
}

$filter-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 1));

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-v23-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/montserrat-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/montserrat-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/montserrat-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/montserrat-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/montserrat-v23-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('/assets/fonts/montserrat-v23-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/montserrat-v23-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/montserrat-v23-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/montserrat-v23-latin-900.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/montserrat-v23-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/montserrat-v23-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html{
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body{
  font-family: Montserrat, serif;
  background-color: $black-lighter;
  overflow-y:scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}


.inner-shadow-text{
  color: #ffffff;
  position: relative;
  text-align: center;
  &:before, &:after {
    width: 100%;
    content: attr(title);
    color: rgba(0,0,0,.1);
    position: absolute;
  }
  &:before {
    top: 0.5px;
    left: 0.5px
  };
  &:after {
    top: 1px;
    left: 1px
  };
}
