//timings

$fromSize: 5px;

$fromColor: #C45600;
$toColor: #00A100;

@keyframes glow {
  from {
    text-shadow: 0 0 $fromSize $fromColor, 0 0 calc(#{$fromSize} * 2) $fromColor, 0 0 calc(#{$fromSize} * 3) $fromColor, 0 0 calc(#{$fromSize} * 4) $fromColor, 0 0 calc(#{$fromSize} * 5) $fromColor, 0 0 calc(#{$fromSize} * 6) $fromColor;
  }
  to {
    text-shadow: 0 0 $fromSize $toColor, 0 0 calc(#{$fromSize} * 2) $toColor, 0 0 calc(#{$fromSize} * 3) $toColor, 0 0 calc(#{$fromSize} * 4) $toColor, 0 0 calc(#{$fromSize} * 5) $toColor, 0 0 calc(#{$fromSize} * 6)$toColor;
  }
}
