.music{
  padding-top: 100px;
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
  flex-direction: column;
  .soundcloud-container{
    box-shadow: 1px 1px 6px 3px #000000;
    background-color: white;
  }
}

@media only screen and (min-width: 480px) {
  .soundcloud-container{
    width: 93%;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1200px) {
  .soundcloud-container{
      width: 1150px;
  }
}
@media only screen and (min-width: 1700px) {
  .soundcloud-container{
      width: 1600px;
  }
}

