@import "/src/styles/styles";
@import "/src/styles/animations/marquee";

.mobile-landing-page{
  width: 100vw;
  height: 80vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-content: center;
  .img-container{
    img{
      width: 100%;
    }
  }

}
.fog {
  position: relative;
  height: 100vh;
  width: 100%;
  display: none;
  .absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: url("/assets/img/home_cover.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
  .fog-container {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    .fog-img {
      position: absolute;
      height: 100%;
      width: 300vw;
      z-index: 2;
    }

    .fog-img-first {
      background: url("/assets/img/fog1-short.png");
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;

      animation: marquee 60s linear infinite;
    }

    .fog-img-second {
      background: url("/assets/img/fog2-short.png");
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 30s linear infinite;
    }
  }
}


@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 768px) {
  .fog{
    display: block;
    height: 0vh;
    padding-top: 56%;
    .absolute-bg{
      background-size: contain;
    }
  }
  .mobile-landing-page{
    display: none;
  }

}

@media only screen and (min-width: 1024px) {
  .fog{
    .absolute-bg{
      background-size: cover;
    }
  }
}
