$cloudSpeed1: 6s;
$cloudSpeed2: 80s;


.home-container{
  .home-image{
    max-width: 100vw;
    width: 100vw;
  }
}

.fogwrapper {
  z-index: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity $cloudSpeed1 linear infinite, foglayer_moveme calc(#{$cloudSpeed1} + 5s) linear infinite;
  -moz-animation: foglayer_01_opacity $cloudSpeed1 linear infinite, foglayer_moveme calc(#{$cloudSpeed1} + 5s) linear infinite;
  animation: foglayer_01_opacity $cloudSpeed1 linear infinite, foglayer_moveme calc(#{$cloudSpeed1} + 5s) linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity $cloudSpeed2 linear infinite, foglayer_moveme calc(#{$cloudSpeed2} / 2) linear infinite;
  -moz-animation: foglayer_02_opacity $cloudSpeed2 linear infinite, foglayer_moveme calc(#{$cloudSpeed2} / 2) linear infinite;
  animation: foglayer_02_opacity $cloudSpeed2 linear infinite, foglayer_moveme calc(#{$cloudSpeed2} / 2) linear infinite;
}

#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("/assets/img/fog1-short.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("/assets/img/fog2-short.png") center center/cover no-repeat transparent;
}


@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .6; }
  58% { opacity: .4; }
  80% { opacity: .2; }
  100% { opacity: .1; }
}

@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .7; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}

@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .3; }
  52% { opacity: .6; }
  68% { opacity: .4; }
  100% { opacity: .8; }
}


@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
and (min-width: 280px)
and (max-width: 767px) {
  #foglayer_01 .image01, #foglayer_01 .image02,
  #foglayer_02 .image01, #foglayer_02 .image02,
  #foglayer_03 .image01, #foglayer_03 .image02 {
    width: 100%;
  }
}
