<div class="nav-container">
  <div class="nav">
    <div class="nav-items">
      <div class="nav-item" *ngFor="let menuItem of menuItems" (click)="scrollIntoView(menuItem)">
        <h1
          [ngClass]="{'active': activeClass === menuItem}"
          [title]="menuItem"
          (click)="setActiveClass(menuItem)"
        >
          {{menuItem}}
        </h1>
      </div>
    </div>
  </div>
  <div class="logo">
    <img alt="logo" class="logo-orange" src="./assets/img/logo.png" />
  </div>
</div>
