@import "/src/styles/styles";

$angle: 15px; //Angle in %
$logoWidth: 150px;

.nav-container{
  height:65px;
  display: flex;
  justify-content: center;
  .nav{
    clip-path: polygon(0 0, 100% 0, calc(100% - #{$angle}) 100%, calc(0% + #{$angle}) 100%);
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: $black;
    width: 80%;
    height: 100%;
    padding: 0 50px;

    .nav-items{
      font-family: Montserrat;
      font-weight: 900;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 35%;

      h1 {
        display: block;
        padding: 50px;
        color: white;
        position: relative;
        &:before, &:after {
          content: attr(title);
          padding: 50px;
          color: rgba(0,0,0,.1);
          position: absolute;
        }
        &:before { top: 0.5px; left: 0.5px };
        &:after  { top: 1px; left: 1px }
      }
    }
  }
}
.logo{
  position: fixed;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: -25px;
  img{
    grid-column: 1;
    grid-row: 1;
  }
  .logo-orange{
    transform: rotate(1deg);
    width: 180px;
    margin-top: -15px;
  }
  .background{
    width: 175px;
    margin-top: -3px;
  }
}


