@import "/src/styles/styles";
@import "/src/styles/animations/glow";

.title-container {
  margin-top: 70px;
  margin-bottom: -50px;
}



.future-past-container {
  display: flex;
  justify-content: center;
  .button {
    text-align: center;
    margin: 20px 10px 0 10px;
    background-color: #2E2E2E;
    color: #DCDCDC;
    border: none;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    text-transform: uppercase;
    font-weight: 900;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 24px;
    padding: 15px;
    width: 150px;
    cursor: pointer;
  }

  .active {
    animation: shadows 1.5s infinite;
  }
}

.shows {
  padding-top: 50px;
  background-color: $black-lighter;
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .show-wrapper {
    min-height: 100px;
    width: 90%;
    background-color: $black;
    color: $white;
    display: flex;
    line-height: 27px;
    margin: 15px;
    padding: 10px;
    justify-content: space-between;
    -webkit-box-shadow: inset 0px 5px 6px -3px #111111;
    box-shadow: inset 0px 5px 6px -3px #111111;
    &:first-child {
      border-radius: calc(#{$borderRadius} / 2) calc(#{$borderRadius} / 2) 0 0;
    }
    &:last-child {
      border-radius: 0 0 calc(#{$borderRadius} / 2) calc(#{$borderRadius} / 2);
    }
    &:only-child {
      border-radius: calc(#{$borderRadius} / 2) calc(#{$borderRadius} / 2)
        calc(#{$borderRadius} / 2) calc(#{$borderRadius} / 2);
    }
  }

  .show-is-today {
    box-shadow: inset 0px 0px 20px 10px $fromColor;
    animation: shadowsInset 1.5s infinite;
  }
}

@media only screen and (min-width: 1200px) {
  .shows {
    .show-wrapper {
      max-width: 1150px;
    }
  }
}

@media only screen and (min-width: 1700px) {
  .shows {
    .show-wrapper {
      max-width: 1600px;
    }
  }
}

.more-shows-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.more-shows-container {
  .depth {
    text-align: center;
    display: flex;
    color: black;
    position: relative;
  }

  .depth:before,
  .depth:after {
    content: attr(title);
    color: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: flex;
    width: 101%; // Needed to have it not skip to the next line....
    text-align: center;
  }
  .depth:before {
    top: 1px;
    left: 1px;
  }
  .depth:after {
    top: 2px;
    left: 2px;
  }
}

@media only screen and (max-width: 550px) {
  .more-shows-container {
    display: none;
  }
}
