<section class="band-container">
  <div class="title-container" id="band">
    <app-title class="title" text="The Band"></app-title>
  </div>

  <div class="band-cards-container" *ngIf="innerWidth > 1200">
    <div class="band">
      <app-band-member
        *ngFor="let bandMember of bandMembers"
        [bandMember]="bandMember"
        class="band-member-wrapper"
      ></app-band-member>
    </div>
  </div>
  <app-slider *ngIf="innerWidth <= 1200" [bandMembers]="bandMembers"></app-slider>
</section>



