@import "/src/styles/styles";

.band-container{
  margin-top: -50px;
  z-index: 5;
  position: relative;
  background-color: $black-lighter;
  -webkit-box-shadow: inset 0px 5px 9px -3px #000000;
  box-shadow: inset 0px 5px 9px -3px #000000;
  .band-header{
    display: flex;
    justify-content: flex-end;
    margin: -80px 40px;
    h1{
      font-size: 50px;
      text-transform: uppercase;
      transform: rotate(3deg);
    }

  }
  .band{
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 30px;
    .band-member-wrapper{
      width: 20%;
      padding: 50px 10px;
    }
  }
}
